version: '2'

services:

    #--------------------------------------
    # Web Service
    #--------------------------------------
    imdock-cnp56:
        restart: always
        image: imagine10255/imdock:cnp56
#        build:
#          context: .
#          dockerfile: Dockerfile
        container_name: {project-sn}
        working_dir: /var/www
        ports:
            - "2001:80"
#            - "8022:22"
#            - "9000:9000"
        volumes:
          - ./website:/var/www
          - ./sites-enable:/etc/nginx/conf.d
          - ./conf/nginx.conf:/etc/nginx/nginx.conf
          - ./conf/php-ini-overrides.ini:/etc/php.d/zzz-overrides.ini
          #- ./conf/supervisord.conf:/etc/supervisor/supervisord.conf

networks:
    default:
        external:
            name: imdockgroup